{{define "title"}}Home{{end}}

{{define "main"}}
<div class="constrain">
    <div class="splash">
        <img class="headshot" src="/static/img/headshot-david.jpeg" alt="" width="120" height="120">
        <div class="copy">
            <h1>Hey, I'm David Hinojosa</h1>
            <p>I'm a current Computer Science major at <a target="_blank" href="https://www.tec.mx">Tecnologico de Monterrey</a>, where I have participated in various <a href="/projects">projects</a> with real companies, such as <a target="_blank" href="https://www.perficient.com/">Perficient</a>.</p>
            <p>Since last July, I have been interning as a Backend Engineer at a software consulting startup. My responsibilities include designing, implementing, and deploying the <a target="_blank" href="https://fastapi.tiangolo.com/">backend</a> and <a target="_blank" href="https://www.postgresql.org/">database</a> for a Flutter e-commerce application tailored for doctors.</p>
            <p>Currently, I'm learning <a target="_blank" href="https://www.golang.org">Go</a>, the programming language I used to build this website! As someone who prefers to learn by doing, I found developing a personal website to be a perfect way to learn. Additionally, I intend to add more features, which will provide me with an opportunity to maintain and refactor my current codebase while exploring Go's capabilities. I'm also in the process of developing a REST API for an amateur softball league. Go has impressed me with it's <a target="_blank" href="https://pkg.go.dev/std">standard library</a>, simple code, and speed.</p>
            <p>If you've got any questions, suggestions, or would like to discuss a project then please email me or get in touch on any of the platforms below. I'd be happy to hear from you.</p>
            <div class="contact">
                <span class="no-mobile">↳</span>
                <a target="_blank" href="mailto:dhinojosagzz@gmail.com">dhinojosagzz@gmail.com</a>
                <a target="_blank" href="https://www.github.com/dhinogz">Github</a>
                <a target="_blank" href="https://www.linkedin.com/in/david-hinojosa-gonzalez/">LinkedIn</a>
                <a target="_blank" href="https://www.twitter.com/davidhinojosa__">Twitter</a>
            </div>
        </div>
    </div>
</div>
{{end}}