{{define "title"}}Projects{{end}}

{{define "main"}}
<div class="constrain">
    <h1>Projects</h1>

    <div class="copy">
        <h3>Personal Website</h3>
        <p>You're viewing it right now!</p>
        <p><b>Stack:</b> Go, HTML/CSS</p>
        <p><a target="_blank" href="https://github.com/dhinogz/blog">Github</a></p>


        <h3>Perficient ChatBot</h3>
        <p>A chatbot powered by OpenAI's ChatGPT 3.5 tailored for Perficient's needs. It's able to query a mock database, Azure DevOps API and the Outlook Calendar API.</p>
        <p>The user is authenticated through Azure Active Directory, which asks the user for permission to their relevant Microsoft services.</p>
        <p><b>Stack:</b> FastAPI, AngularJS, MSSQL Server</p>
        <p><a target="_blank" href="https://github.com/tecnologico-de-monterrey-oficial/C.MTY.TC3004B.103.2311-TheCodeSquad">Github</a></p>
        
        <h3>Abuelitos Nuevo Leon</h3>
        <p>An iOS app for elderly patients in Nuevo Leon. The app tracks patient's status through interactive tests.</p>
        <p>Doctors can access and analyze test results in our dashboard.</p>
        <p><b>Stack:</b> FastAPI, SwiftUI, HTML/CSS/JS</p>
        <p><a target="_blank" href="https://github.com/tecnologico-de-monterrey-oficial/C.MTY.TC2007B.402.2213.Equipo2">Github</a></p>
    </div>
</div>
{{end}}