{{define "nav"}}
 <div class="constrain">
     <a href='/' class="logo">David Hinojosa</a>
     <nav class="no-mobile">
        <a href='/projects'>Projects</a>
        <a href='/articles'>Articles</a>
     </nav>
 </div>
{{end}}